*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* root variables */
:root {
  --primary-color: #adcbd5;
  --accent-color: #4a8390;
  --background-color: #f3f3f1;
  --text-color: #9aabaf;
  --button-color: #1b323d;
}
/* General styling */
a {
  text-decoration: none;
  color: var(--text-color);
}
a:hover,
button:hover {
  transition: 0.5s ease;
}
/* Navigation styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #fff;
}
.nav-contact,
.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
}
.nav-contact .button,
.hero-text .button {
  background-color: var(--button-color);
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  font-size: 1rem;
}
.button:hover {
  background-color: var(--accent-color);
}

.nav-links a:hover {
  color: var(--accent-color);
  font-weight: 500;
}
.contact-svg:hover {
  fill: var(--accent-color);
  transform: scale(1.1);
}
#Hamburger {
  cursor: pointer;
  display: none;
  fill: var(--button-color);
}
#Hamburger:hover {
  fill: var(--accent-color);
  transform: scale(1.1);
}

/* hero styles */
.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(to bottom, #adcbd5 0%, #b0c7cc 40%, #4a8390 100%);
}

.hero-image img {
  width: 300px;
  height: 400px;
  object-fit: contain;
}

.hero-text {
  max-width: 500px;
  padding: 1rem;
  color: var(--background-color);
}
.hero-text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.button {
  width: 100%;
  border: none;
  margin-top: 1rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 50%;
    height: 100vh;
    background: var(--button-color);
    padding: 2rem;
    border-top-right-radius: 30px;
  }

  .nav-links.active {
    display: flex;
  }

  #Hamburger {
    display: block;
  }
  .nav-contact {
    display: none;
  }
}
@media (min-width: 768px) {
  .hero-container {
    flex-wrap: nowrap;
  }
}
