*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* root variables */
:root {
  --primary-color: #adcbd5;
  --secondary-color: #cedee2;
  --accent-color: #4a8390;
  --background-color: #f3f3f1;
  --text-color: #9aabaf;
  --button-color: #1b323d;
  --heading-font: "Playwrite AT", serif;
  --text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  --light-text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  --black: #000;
  --white: #fff;
}
html {
  scroll-behavior: smooth;
}
/* General styling */
body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
a:hover,
button:hover,
.footer-button:hover,
.socials:hover,
.back-to-top ion-icon:hover,
.hero-image img:hover,
.main-img img:hover {
  transition: 0.5s ease;
}
/* Navigation styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.nav-container h1 {
  font-family: var(--heading-font);
  color: var(--primary-color);
  font-size: 1.5rem;
}
.nav-contact,
.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
}
.nav-contact .button,
.hero-text .button {
  background-color: var(--button-color);
  color: var(--white);
  padding: 0.5rem 2rem;
  border-radius: 20px;
  font-size: 1rem;
}
.button:hover,
.footer-button:hover {
  background-color: var(--accent-color);
}

.nav-links a:hover {
  color: var(--accent-color);
  font-weight: 500;
}

#Hamburger {
  cursor: pointer;
  display: none;
  fill: var(--button-color);
}
#Hamburger:hover,
.contact-svg:hover,
.socials ion-icon:hover,
.back-to-top ion-icon:hover {
  fill: var(--accent-color);
  transform: scale(1.1);
}

/* hero styles */
.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  position: relative;
  z-index: 1;
  background: linear-gradient(to bottom, #adcbd5 0%, #b0c7cc 40%, #4a8390 100%);
}

.hero-image img {
  width: 300px;
  height: 400px;
  object-fit: contain;
}
.hero-image img:hover,
.main-img img:hover {
  transform: scale(1.05);
}
.hero-text {
  max-width: 500px;
  padding: 1rem;
  color: var(--background-color);
}
.hero-text h1,
.footer-heading h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-shadow: var(--text-shadow);
  font-family: var(--heading-font);
  max-width: 20ch;
}
.hero-text p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: justify;
  color: var(--black);
  opacity: 0.6;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 20px;
}
.hero-text .button {
  width: 100%;
  border: none;
  margin-top: 1rem;
}
/* main-content */
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
}
.main-content {
  padding: 2rem;
  width: 550px;
  height: 450px;
  background-color: var(--white);
}
.main-content h2 {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: var(--button-color);
  text-shadow: var(--light-text-shadow);
}
.main-content p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-shadow: var(--light-text-shadow);
  opacity: 0.5;
  color: #2a2929;
}
.main-img {
  background-color: var(--secondary-color);
  padding: 1rem;
  width: 550px;
  height: 450px;
}
.main-img img {
  width: 100%;
  height: 90%;
  display: block;
  margin: 0 auto;
}
.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}
.main-button button {
  width: 50%;
  padding: 0.9rem 2rem;
  font-weight: bold;
  border-radius: 20px;
  font-size: 0.9rem;
  border: none;
}
.main-button .explore {
  background-color: var(--secondary-color);
}
.main-button .explore:hover {
  background-color: var(--accent-color);
  color: var(--white);
}
.flower-vase {
  background-color: transparent;
  padding: 0;
}
.main-img img:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.main-text {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-shadow: var(--text-shadow);
  font-family: var(--heading-font);
  margin: 0 auto;
  color: #ddd8d8;
}
/* Footer section */

.footer-container,
.footer-last {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 1.5rem;
  margin: 2rem 0;
}

.footer-heading h2 {
  max-width: 18ch;
  font-size: 1.2rem;
}

.footer-links {
  flex-direction: column;
  gap: 0.8rem;
  font-size: 0.9rem;
}

.footer-text h2,
.footer-text-2 h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.footer-text p,
.footer-text-2 p,
.footer-last p {
  max-width: 42ch;
  font-size: 0.8rem;
  color: var(--text-color);
}

.footer-button {
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--button-color);
  color: var(--background-color);
  border-radius: 20px;
  margin-top: 1rem;
}

.footer-last {
  margin: 0 0;
}

.socials,
.back-to-top {
  display: flex;
  gap: 1.5rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.back-to-top {
  flex-direction: column;
  gap: 0.1rem;
}
.back-to-top ion-icon {
  font-size: 1.2rem;
  background-color: var(--button-color);
  color: var(--background-color);
  border-radius: 4px;
  padding: 0.2rem;
  margin: 0.5rem auto;
  display: block;
}
/* Responsive styles */

/* Tablet and small laptop */
@media (max-width: 1024px) {
  .nav-links {
    z-index: 2;
  }
  .hero-text h1 {
    font-size: 1.3rem;
    margin: 1rem auto;
    max-width: 19ch;
  }
  .hero-text p {
    font-size: 0.9rem;
  }
  .lamp,
  .lady {
    display: none;
  }
  .hero-container {
    flex-direction: column;
    text-align: center;
  }
}
/* Mobile landscape */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 85%;
    height: 100vh;
    background: var(--button-color);
    padding: 2rem;
    border-top-right-radius: 30px;
    font-size: 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  #Hamburger {
    display: block;
  }
  .nav-contact {
    display: none;
  }
  .lamp,
  .lady {
    display: none;
  }
  .main-text {
    font-size: 0.8rem;
  }
  .footer-container {
    flex-wrap: wrap;
  }
}

/* Mobile view */
@media (max-width: 480px) {
  .nav-links {
    width: 90%;
    z-index: 2;
  }

  .hero-container {
    flex-direction: column;
    text-align: center;
  }
  .hero-text h1 {
    font-size: 1.2rem;
    margin: 1rem auto;
    max-width: 20ch;
  }
  .hero-text p {
    font-size: 0.8rem;
  }
  .main-text {
    font-size: 0.6rem;
  }
  .footer-last p {
    font-size: 0.7rem;
  }
  .socials {
    font-size: 9rem;
    gap: 1rem;
  }
  .socials:hover {
    color: red;
  }
}
