*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* root variables */
:root {
  --primary-color: #adcbd5;
  --secondary-color: #cedee2;
  --accent-color: #4a8390;
  --background-color: #f3f3f1;
  --text-color: #9aabaf;
  --button-color: #1b323d;
}
/* General styling */
body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
}
a {
  text-decoration: none;
  color: var(--text-color);
}
a:hover,
button:hover {
  transition: 0.5s ease;
}
/* Navigation styles */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}
.nav-container h1 {
  font-family: "Playwrite AT", serif;
  color: var(--primary-color);
  font-size: 1.5rem;
}
.nav-contact,
.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
  font-size: 1.2rem;
}
.nav-contact .button,
.hero-text .button {
  background-color: var(--button-color);
  color: #fff;
  padding: 0.5rem 2rem;
  border-radius: 20px;
  font-size: 1rem;
}
.button:hover {
  background-color: var(--accent-color);
}

.nav-links a:hover {
  color: var(--accent-color);
  font-weight: 500;
}
.contact-svg:hover {
  fill: var(--accent-color);
  transform: scale(1.1);
}
#Hamburger {
  cursor: pointer;
  display: none;
  fill: var(--button-color);
}
#Hamburger:hover {
  fill: var(--accent-color);
  transform: scale(1.1);
}

/* hero styles */
.hero-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background: linear-gradient(to bottom, #adcbd5 0%, #b0c7cc 40%, #4a8390 100%);
}

.hero-image img {
  width: 300px;
  height: 400px;
  object-fit: contain;
}
.hero-image img:hover,
.main-img img:hover {
  transform: scale(1.05);
  transition: 0.5s ease;
}
.hero-text {
  max-width: 500px;
  padding: 1rem;
  color: var(--background-color);
}
.hero-text h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: "Playwrite AT", serif;
  max-width: 20ch;
}
.hero-text p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
}
.hero-text .button {
  width: 100%;
  border: none;
  margin-top: 1rem;
}
/* main-content */
.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
  gap: 2rem;
}
.main-content {
  padding: 2rem;
  width: 550px;
  height: 450px;
  background-color: #fff;
}
.main-content h2 {
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: var(--button-color);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.main-content p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  opacity: 0.5;
  color: #2a2929;
}
.main-img {
  background-color: var(--secondary-color);
  padding: 1rem;
  width: 550px;
  height: 450px;
}
.main-img img {
  width: 100%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.main-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 2rem;
}
.main-button button {
  width: 50%;
  padding: 0.9rem 2rem;
  font-weight: bold;
  border-radius: 20px;
  font-size: 0.9rem;
  border: none;
}
.main-button .explore {
  background-color: var(--secondary-color);
}
.main-button .explore:hover {
  background-color: var(--accent-color);
  color: #fff;
}
.flower-vase {
  background-color: transparent;
  padding: 0;
}
.main-img img:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* Responsive styles */
@media (min-width: 1025px) {
  .hero-container {
    flex-wrap: nowrap;
    position: relative;
    z-index: 1;
  }
  .hero-text h1 {
    font-size: 1.4rem;
    max-width: 25ch;
  }
}

/* laptop devices */
@media (max-width: 1024px) {
  .nav-links {
    z-index: 2;
  }
  .hero-text h1 {
    font-size: 1.3rem;
    margin: 1rem auto;
    max-width: 19ch;
  }
  .hero-text p {
    font-size: 0.9rem;
  }
  .lamp,
  .lady {
    display: none;
  }
  .hero-container {
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 85%;
    height: 100vh;
    background: var(--button-color);
    padding: 2rem;
    border-top-right-radius: 30px;
    font-size: 1rem;
  }

  .nav-links.active {
    display: flex;
  }

  #Hamburger {
    display: block;
  }
  .nav-contact {
    display: none;
  }
  .lamp,
  .lady {
    display: none;
  }
}

/* small screen devices */
@media (max-width: 480px) {
  .nav-links {
    width: 90%;
    z-index: 2;
  }

  .hero-container {
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  .hero-text h1 {
    font-size: 1.2rem;
    margin: 1rem auto;
    max-width: 20ch;
  }
  .hero-text p {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
    opacity: 0.7;
  }
}
